<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="banner">
	<h2>Headset data for test_user_1</h2>
</div>
<div class="container">
	<div class="row">
		<table class="table table-condensed">
		  <tr>
		  	<td>Row</td>
		    <td>Time (ms)</td>
		    <td>Engagement</td> 
		    <td>Frustration</td>
		    <td>Short-Term Excitement</td>
		    <td>Long-Term Excitement</td> 
		  </tr>

		  <% var rowNum = 0; %>
		  <% results.forEach(function(r) { %>
		  	<tr>
		  		<td><%= rowNum %></td>
					<td><%= r.time %></td>
					<td><%= r.engagement %></td>
					<td><%= r.frustration %></td>
					<td><%= r.shorttermexcitement %></td>
					<td><%= r.longtermexcitement %></td>
		  	</tr>
		  	<% rowNum = rowNum+1; %>
			<% }); %>
		  
		</table>

	</div>
</div>

  <!-- Footer -->
  <footer>
    <% include ../partials/footer.ejs %>
  </footer>

</body>
</html>
